* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    font-size: 200%;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
}

span {
    font-size: 180%
}
